@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500&family=Josefin+Sans&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
/* start birinchi section */
.box1{
    height: 243px;
    background-color: #FFF8F5;
}
.dad{
    width: 95%;
    padding-top: 99.66px;
}
.kul{
    height: 83px;
    position: relative;
}
.kul img{
    position: absolute;
    top: 0px;
}
.kul span{
    margin-left: 100px;
}
.box2{
    height: 83px;
    display: inline-block;
}
.box2 h6{
    font-family: 'Cormorant Infant', serif;
    font-weight: 400;
    font-size: 30px;
    height: 30px;
}
.box2 p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20;
    height: 30px;
}
/* end birinchi section */

/* start ikkinchi section */
.box3{
    background-color: #FFF8F5;
    /* height: 670px; */
}
.dad2{
    padding-top: 30px;
    top: 84px;
    width: 96%;
}
.kul2{
    margin-top: 24px;
}
.kul3{
    margin-top: 24px;
}
.kul3 p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.kul3 h5{
    font-family: 'Cormorant Infant', serif;
    /* font-size: 40px; */
    height: 56px;
    font-weight: 400;
}
.dd{
    width: 95%;
}
/* end ikkinchi section */

/* start media */
@media only screen and (max-width: 576px) {
    .box1{
        display: none;
    }
    .box3{
        height: 860px;
    }
    .kul2 img{
        width: 530px;
    }
    .kul3 h5{
        font-size: 32px;
    }
    .kul3 p{
        font-size: 17px;
    }
}
@media only screen and (min-width: 576px) {
    .box1{
        display: none !important;
    }
    .box3{
        height: 860px;
    }
    .kul2 img{
        width: 530px;
    }
    .kul3 h5{
        font-size: 32px;
    }
    .kul3 p{
        font-size: 17px;
    }
    .dd{
        padding-top: 15px;
    }
}
@media only screen and (min-width: 768px) {
    .box3{
        height: 553px;
    }
    .kul2 img{
        width: 360px;
    }
    .dd{
        padding-top: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .box1{
        display: block !important;
    }
    .box3{
        height: 500px;
    }
    .kul2 img{
        width: 540px;
    }
}
@media only screen and (min-width: 1400px) {
    .box1{
        display: block !important;
    }
    .box3{
        height: 600px;
    }
    .kul2 img{
        width: 670px;
    }
}